@model DepositFundsViewModel

@{
    ViewBag.Title = "Deposit funds";
}

<h4>@ViewBag.Title</h4>
<br />
<br />
<div class="row">
    <div class="col-md-6">
        <form method="post" action="/Users/Deposit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AmountToDeposit"></label>
                <input asp-for="AmountToDeposit" class="form-control" />
                <span asp-validation-for="AmountToDeposit" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Deposit</button>
        </form>
    </div>
</div>
