@model IEnumerable<ProductListingModel>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Our top discounts!</h1>
<hr/>
<div class="jumbotron">
    <h5 class="text-center">@(TempData.ContainsKey("searchTerm") && TempData["searchTerm"] != null ? $"{Model.Count()} results found matching your search term." : string.Empty)</h5>
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3">
                @Html.DisplayFor(x => product, "ProductListingModel")
            </div>
        }
    </div>
</div>